<!DOCTYPE html>
<html lang="es">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Confieselo, tu lugar para confesarte de manera anonima" %></title>
    <%= content_for?(:facebook_meta) ? yield(:facebook_meta) : "" %>
    <meta name="msvalidate.01" content="513E3BD6DE7F6D8972DA089DB32A40FB" />
    <meta name="google-site-verification" content="z5mJLjVGtEe5qzCefW1pamxI7H46u19n4XnxEzgl1AU" />
    <meta name="title" content="<%= content_for?(:title) ? yield(:title) : "Confieselo, tu lugar para confesarte de manera anonima" %>">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Confesiones anonimas, un lugar para expresarte sin temor a nada." %>">
    <meta name="keywords" content="<%= content_for?(:keywords) ? yield(:keywords) : "confesiones,anonimas,confesiones anonimas,declaración, confidencia, revelación, manifestación, aclaración, testificación, testimonio" %>">
    <%= favicon_link_tag "favicon.ico" %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <script type="text/javascript">
      var tags_path = "<%= tags_path(format: :json) %>";
      <%= yield :script_varaibles %>
    </script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-49861017-1', 'confieselo.com');
        ga('send', 'pageview');
    </script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script type="text/javascript">
        window.___gcfg = {lang: 'es-419'};
        (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/platform.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
    </script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <div class="add-top-bottom">
     <div class="col-md-10 no-float center-block">
            <!-- ConfieseloTop -->
       <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-1693900787541932"
            data-ad-slot="8631340833"
            data-ad-format="auto"></ins>
         <script>
           (adsbygoogle = window.adsbygoogle || []).push({});
         </script>
      </div>
    </div>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  <div class="add-top-bottom">
    <div class="col-md-10 no-float center-block">
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-1693900787541932"
           data-ad-slot="8631340833"
           data-ad-format="auto"></ins>
      <script>
           (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>
  </body>
  <footer>
    <div class="foot-fixed-bottom">
      <div class="container">

        <hr />
        ©confieselo.com • 2014
        | <a href="<%= legal_path %>" data-toggle="modal" data-target="#modal_legal">Aviso Legal</a>
        | <a href="<%= terms_path %>" data-toggle="modal" data-target="#modal_terms">Terminos y Condiciones</a> |
        <div class="fb-like" data-href="<%= root_url %>" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
      </div>
    </div>
  </footer>
  <div class="modal fade" id="modal_legal">
    <div class="modal-dialog">
      <div class="modal-content">

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <div class="modal fade" id="modal_terms">
    <div class="modal-dialog">
      <div class="modal-content">

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</html>
